<!DOCTYPE html>
{% load static %}

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Lato|Merriweather|Merriweather+Sans|Noto+Sans+JP|Open+Sans|Source+Sans+Pro|Varela+Round" rel="stylesheet">

<style>
h1, h2 {
  line-height: 32px;
  font-family: 'Merriweather Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

div.relative {
    position: relative;
    width: 500px;
    height: auto;
  
} 
 
div.absolute {
    top:0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1))
}

</style>



<body>


<!--
<div class="w3-bar ">
  <h2 class='w3-margin w3-bar-item'>Logo</h2>
  <h2 class='w3-margin w3-bar-item w3-right'>my account</h2>
</div>
-->

<div class="w3-container w3-black w3-padding-16 w3-margin-bottom">
    <div class=' w3-margin-left'>

  <div class='w3-margin-left' style='max-width:1050px; margin:auto'>
  <h3>Displaying Colors</h3> 
  </div>
  </div>
</div>

<div class="w3-row">
  <div class="w3-col m3 l3 w3-border-right w3-padding w3-large"style="height:400px",>
    <p>12 columns on a small screen, 4 on a medium screen, and 3 on a large screen.</p>

    {% for word in vocab %}
    <p>{{word}}</p>
    {% endfor %}

  </div>


  <div class="w3-col m9 l7 w3-padding">
    <h4>{{article.publisher}}</h4>
    <strong><h2>{{article.title}}</h2></strong>
    <img class='w3-image' src='{{MEDIA_URL}}{{title_img}}'/>
    <div class='relative' style='width:100%'>
      {% for para in paragraph_container %}
          <p class='w3-large' title="{{para.text|safe}}" >{{para.trans|safe}} </p>
      {% endfor %}
      <div class='absolute'></div>
    </div>


    <div class='w3-container w3-black' style="height:300px"></div>


  </div>



  <div class="w3-col l2">
  </div>



</div>


</body>
</html>
