<!DOCTYPE html>
{% load static %}

<html>
	<head>

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<style>
		div {
			width: 600px;
			font-family: 'Roboto', sans-serif;
			font-size: 20px
		}
		</style>

	</head>
	
	<body>
		{% for v in vocab %}
		{{v}}
		{% endfor %}
		<br>

	<p>{{article.title}}</p>


<!--
	{% for img in images %}
		<img src='{{MEDIA_URL}}{{img.picture}}' />
	{% endfor %}
-->

	{% for para in paragraph_container %}
	{% if para.text %}
		<div>
			<p title="{{para.text|safe}}">{{para.trans|safe}} </p>
		</div>
	
	{% else %}
	<p>

		<img src='{{MEDIA_URL}}{{para}}' />

		<p>
	{% endif %}


	{% endfor %}




	<div>
		<p>
		</p>
	</div>

	
	</body>

</html>
