<!DOCTYPE html>
{% load static %}


<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class='w3-panel w3-gray'>
      top panel
    </div>

<div class='w3-container w3-section'>
  <div class='w3-panel'>
  featured
  </div>

    <div class='w3-cell-row w3-border w3-padding w3-margin-bottom'>

      {% for featured in featured_articles_list %}
        <div class="w3-container w3-cell">
          <a href="{% url 'article_page' featured.slug %}">
            <img src='{{ MEDIA_URL }}{{featured.img}}' style="width:100%"></a>
          <a href="{% url 'article_page' featured.slug %}">{{featured.title}}</a>
          <br>
          subtitle
        </div>
      {% endfor %}

<!--

      <div class='w3-container w3-cell'>
        <img src='img_snowtops.jpg' style="width:100%">
        title
        <br>
        subtitle
      </div>
      <div class='w3-container w3-cell'>
        <img src='img_snowtops.jpg' style="width:100%">
        title
        <br>
        subtitle
      </div>

--> 
    </div>
   

<div class='w3-container'>
{% if articles %}
    {% for article in articles %}
      <div>

    <div class='w3-card'  style="width:300px">
      <a href="{% url 'article_page' article.slug %}">{{article.title}}</a>
      <br>
      subtitle
      <br>
       <p>{{article.date}}</p>
    </div>
    {% endfor %}
  {% endif %}
</div>


</body>
</html>       
