{% extends 'translate_app/base.html' %}
{% load staticfiles %}

{%block body_block %}

</br>
</br>

<div id='main_container' style='max-width:1050px; margin:auto' class='article-container'>

	<div class='w3-padding-24' style='max-width:450px; margin:auto'>	

		{% if registered %}
		<div style='max-width:200px;margin:auto'>
			Registration successful!
		{% else %}
		
			<h2> Register </h2>

			</br>

			<form id='user_form' method='post' action="{% url 'register' %}">
			{% csrf_token %}

			<label> Registration Code </label>
			<p><input class="w3-input w3-border w3-round-large" name="code" type="text"></p>

				{{user_form.as_p}}

			<input class='w3-btn w3-pale-red' type="submit" name="submit" value="Register" />

			</form>

	</div>

</div>
		{% endif %}	


</br>
</br>
</br>

{% endblock %}
